.errorContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  line-height: 0.5;
}

.thumbnailContainer {
  display: grid;
  place-items: center;
  position: absolute;
  top: 195px;
  width: 100%;
  z-index: 10;
}

.thumbnail {
  width: 50%;
}

.details {
  margin-top: 30%;
  padding: 15px;
  text-align: center;
}

.eventsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}
